.header-section {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.navbar-brand .logo {
    max-height: 60px; /* Ajusta esta propiedad para cambiar el tamaño del logo */
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

.navbar-nav .nav-link {
    color: #333;
    margin-right: 15px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-toggler {
    border: none;
}